<mat-card class="home mat-elevation-z3" style="height:80vh ;">
    <mat-card-title class="title">
        Bem vindo ao nosso sistema!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema de cadastro de produtos
        
    </mat-card-subtitle>
    <div class="logo">
        <img class="logo" src="assets/img/produto.png" alt="logo"> 
    </div>
    <div>
        <h1>
            Sobre o sistema
        </h1>
        O sistema consiste em um crud de produtos, onde o usuário poderá adicionar, editar e excluir os produtos inseridos no sistema.
        Para a construção do sistema foram utilizados javascript,Html,Css e o framework Angular
    </div>

    <div class="tecnologias">
        <img class="tecnologias" src="assets/img/tecnologias.png" alt="tecnologias"> 
    </div>
    
</mat-card>