<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem vindo ao nosso sistema!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema de cadastro de produtos
        
    </mat-card-subtitle>
    <div class="logo">
        <img class="logo" src="assets/img/logo.png" alt="logo"> 
    </div>
    <div>
        <h1>
            Sobre o sistema
        </h1>
        <h2> 
            Objetivo do sistema
        </h2>  
        
        Realizar cadastro de produtos
         
    </div>
</mat-card>